@model Avaliacao3Lp3.ViewModels.ComercioViewModel

@{
    ViewData["Title"] = "Detalhes Comércio";
}

<h1>@Model.Nome (@Model.Tipo)</h1>
<p><b>@Model.Descricao</b></p>
<p><b>Localização: </b>@Model.Piso &nbsp;|&nbsp; <b>Contato: </b>@Model.Email</p>
<p>
    <a href="../Gerenciamento">Voltar</a>
    <span>&nbsp;&nbsp;</span>
    <a href="../Excluir/@Model.Id">Excluir</a>
</p>